[Unit]
Description=KDE Plasma Workspace Application Launcher
After=window-manager.service

[Service]
ExecStart=/usr/bin/krunner
ExecStop=/usr/bin/kquitapp5 krunner
KillMode=none
BusName=org.kde.krunner

[Install]
Alias=launcher.service
